{% load static %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">
<!-- 
<h1>Hello world</h1>

<img src="{% static 'img/me.jpg' %}" alt=""> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">  
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body profile-wrapper">
                    <img class='profile' src="{% static 'img/me.jpg' %}">
                    <h3>Hello! I'm Parth</h3>
                    <p>I love coding, research and collaboration</p>
                </div>
            </div>
            <div class="col-md-9 ">
                <div class="card card-body h-100 border-info">
                    <h4>
                        I want to join as Fresher or interan 
                    </h4>
                    <hr>
                    <h6>
                        I was start learing coding stuff in 2019, now i m graduate in BCS IT, i wants to learn new 
                        stuff and wants yo build my career as developer in industry  
                    </h6>
                    <h6>
                        i want to build my career in python or django framework, here some my project and some apps which is build and depoly by me.
                        i have quit good knowledge in django or python
                    </h6>
                    <h6>
                        Before this i was working on clinet website which is made on wordpress. Now i am working with full stack websites for learing purposes
                    </h6>

                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-body">
                    <h5>My experience as developer</h5>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h5>what i know</h5>
                    <h6>As i mataions </h6>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-body">
                    <h5>How I learn</h5>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h5>My sort term goal</h5>
                </div>
            </div>
        </div>
    </div>
</body>
</html>